/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002e00;
  --sl-color-accent: #0b420b;
  --sl-color-accent-high: #007200;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-sidebar-width: 20rem;
  --sl-content-width: 80rem;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #bbe4b7;
  --sl-color-accent: #007b00;
  --sl-color-accent-high: #003f00;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

/* Social Icons. */
.header .social-icons a{
  color: var(--sl-color-white);
}

/* Sidebar*/
.right-sidebar-container a{
  color: var(--sl-color-white);
}

.right-sidebar-container a[data-theme="light"]{
  color: var(--sl-color-black);
}

/* Body */
.main-pane a{
  color: var(--sl-color-text);
}
